<!-- department_app/templates/employee.html -->
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}
    {% if add %}
        Add Employee
    {% else %}
        Edit Employee
    {% endif %}
{% endblock %}
{% block body %}
<main>
    <script type="text/javascript">window.setTimeout("document.getElementById('flash').style.visibility='hidden';", 2000); </script>
    <!-- A main content -->
    <div class="container">
        <div id="flash">
            <br/>
            {{ utils.flashed_messages() }}
            <br/>
        </div>
        <!-- A page heading -->
        {% if add %}
            <h1 class="text-center margin-top">Add employee</h1>
        {% else %}
            <h1 class="text-center margin-top">Edit employee</h1>
        {% endif %}
        <!-- A field for the employee name -->
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name"
                   value="" placeholder="Enter the name of the employee"
                   required maxlength="60" autofocus>
        </div>
        <!-- A field for the employee surname -->
        <div class="form-group">
            <label for="name">Surname</label>
            <input type="text" class="form-control" id="surname" name="surname"
                   value="" placeholder="Enter the surname of the employee"
                   required maxlength="60" autofocus>
        </div>
        <!-- A field for department selection -->
        <div class="form-group">
            <label for="department">Select the department</label>
            <select class="form-control" id="department" name="department">
            </select>
        </div>
        <!-- A field for the employee salary -->
        <div class="form-group">
            <label for="salary">Salary</label>
            <input type="number" class="form-control" id="salary" name="salary"
                   value="{{employee_salary}}" placeholder="Enter the salary of the employee">
        </div>
        <!-- A field for the employee date of birth -->
        <div class="form-group">
            <label for="datepicker">Date of birth</label>
            <!-- The date widget -->
            <input id="datepicker" name="date_of_birth" value=""
                   width="276" />
            <!-- A js script that invokes the datepicker -->
            <script>
                $('#datepicker').datepicker({
                    uiLibrary: 'bootstrap4'
                });
            </script>
        </div>
        <!-- a script which will be executed after the page is loaded" -->
        <script src="{{ url_for('static', filename='employees/employee.js') }}"></script>
        <!-- A button for submitting the data-->
        <div class="col text-center margin-top">
            <a href="#" class="btn btn-primary" role="button" onclick="onSubmitClicked()">Submit</a>
        </div>
    </div>
</main>
{% endblock %}