<!-- department_app/templates/departments.html -->
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Departments{% endblock %}
{% block body %}
<main>
    <!-- A main content -->
    <div class="container">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <!-- A page heading -->
        <h1 class="text-center margin-top">Departments</h1>
        <!-- A table with departments -->
        {% if departments %}
            <table class="table table-hover table-bordered margin-top">
                <thead>
                    <tr>
                        <!-- The header row -->
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Employee count</th>
                        <th scope="col">Average salary</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for department in departments %}
                        <tr>
                            <th scope="row">{{department['name']}}</th>
                            <td>{{department['description']}}</td>
                            <td>
                                {% if department['employees'] %}
                                    {{ department['employees'] | length }}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                            <td> {{get_average_salary(department)}} </td>
                            <td><a href="{{ url_for('user.edit_department', id=department['id']) }}">Edit</a></td>
                            <td><a href="{{ url_for('user.delete_department', id=department['id']) }}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3 class="text-center margin-top"><small>No departments were added</small></h3>
        {% endif %}
        <!-- A button to add department -->
        <div class="col text-center margin-top">
            <a href="{{ url_for('user.add_department') }}" class="btn btn-primary" role="button">+ Add department</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='get_departments.js') }}"></script>
</main>
{% endblock %}