<!-- department_app/templates/department.html -->
{% extends "base.html" %}
{% block title %}
    {% if add %}
        Add Department
    {% else %}
        Edit Department
    {% endif %}
{% endblock %}
{% block body %}
<main>
    <!-- A main content -->
    <div class="container">
        <!-- A page heading -->
        {% if add %}
            <h1 class="text-center margin-top">Add department</h1>
            {% set department_name = '' %}
            {% set department_description = ''%}
        {% else %}
            <h1 class="text-center margin-top">Edit department</h1>
            {% set department_name = department['name'] %}
            {% set department_description = department['description'] %}
        {% endif %}
        <!-- A form for adding or editing the department -->
        <form method="post">
            <!-- A field for the department name -->
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name"
                       value="{{department_name}}" placeholder="Enter the name of the department"
                       required maxlength="60" autofocus>
            </div>
            <!-- A field for the department description -->
            <div class="form-group">
                <label for="description">Description of the department</label>
                <textarea class="form-control" id="description" name="description" rows="3"
                          required maxlength="200">{{department_description}}</textarea>
            </div>
            <!-- A button for submitting the data-->
            <button type="submit" value="ok" class="btn btn-primary">Submit</button>
        </form>
    </div>
</main>
{% endblock %}