{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Roles{% endblock %}
{% block body %}
<main>
    <!-- A main content -->
    <div class="container">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <!-- A page heading -->
        <h1 class="text-center margin-top">Roles</h1>
        <!-- A table with roles -->
        {% if roles %}
            <table class="table table-hover table-bordered margin-top">
                <thead>
                    <tr>
                        <!-- The header row -->
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Employee count</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for role in roles %}
                        <tr>
                            <th scope="row">{{role.name}}</th>
                            <td>{{role.description}}</td>
                            <td>
                                {% if role.employees %}
                                    {{ role.employees.count() }}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                            <td><a href="{{ url_for('user.edit_role', id=role.id) }}">Edit</a></td>
                            <td><a href="{{ url_for('user.delete_role', id=role.id) }}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3 class="text-center margin-top"><small>No roles were added</small></h3>
        {% endif %}
        <!-- A button to add role -->
        <div class="col text-center margin-top">
            <a href="{{ url_for('user.add_role') }}" class="btn btn-primary" role="button">+ Add role</a>
        </div>
    </div>
</main>
{% endblock %}