{% extends "base.html" %}
{% block title %}
    {% if add %}
        Add Role
    {% else %}
        Edit Role
    {% endif %}
{% endblock %}
{% block body %}
<main>
    <!-- A main content -->
    <div class="container">
        <!-- A page heading -->
        {% if add %}
            <h1 class="text-center margin-top">Add role</h1>
            {% set role_name = '' %}
            {% set role_description = ''%}
        {% else %}
            <h1 class="text-center margin-top">Edit role</h1>
            {% set role_name = role.name %}
            {% set role_description = role.description %}
        {% endif %}
        <!-- A form for adding or editing the role -->
        <form method="post">
            <!-- A field for the role name -->
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name"
                       value="{{role_name}}" placeholder="Enter the name of the role"
                       required maxlength="60" autofocus>
            </div>
            <!-- A field for the role description -->
            <div class="form-group">
                <label for="description">Description of the role</label>
                <textarea class="form-control" id="description" name="description" rows="3"
                          required maxlength="200">{{role_description}}</textarea>
            </div>
            <!-- A button for submitting the data-->
            <button type="submit" value="ok" class="btn btn-primary">Submit</button>
        </form>
    </div>
</main>
{% endblock %}