/* department_app/static/style.css */

.flex-fill {
    flex: 1 1 auto !important;
}

.margin-left {
    margin-left: 1rem !important;
}

.margin-top {
    margin-top: 2rem !important;
}

.margin-home {
    margin-top: 5rem !important;
}

.big-text {
    font-size: 3.5rem !important;
}

.description-width{
    width: 50%;
    margin-left: auto !important;
    margin-right: auto !important;
}