<!-- department_app/templates/roles.html -->
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Roles{% endblock %}
{% block body %}
<main>
    <!-- A main content -->
    <div class="container">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <!-- A page heading -->
        <h1 class="text-center margin-top">Roles</h1>
        <!-- A table with roles -->
        <table class="table table-hover table-bordered margin-top">
        </table>
        <!-- A text field to display when there are no roles -->
        <h3 class="text-center margin-top"><small>No roles were added</small></h3>
        <!-- A button to add role -->
        <div class="col text-center margin-top">
            <a href="{{ url_for('user.add_role') }}" class="btn btn-primary" role="button">+ Add role</a>
        </div>
    </div>
    <!-- A script which will be executed when the page is loaded -->
    <script src="{{ url_for('static', filename='roles/roles.js') }}"></script>
</main>
{% endblock %}