<!-- department_app/templates/role.html -->
{% extends "base.html" %}
{% block title %}
    {% if add %}
        Add Role
    {% else %}
        Edit Role
    {% endif %}
{% endblock %}
{% block body %}
<main>
    <!-- A main content -->
    <div class="container">
        <!-- A page heading -->
        {% if add %}
            <h1 class="text-center margin-top">Add role</h1>
        {% else %}
            <h1 class="text-center margin-top">Edit role</h1>
        {% endif %}
        <!-- A field for the role name -->
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name"
                   value="" placeholder="Enter the name of the role"
                   required maxlength="60" autofocus>
        </div>
        <!-- A field for the role description -->
        <div class="form-group">
            <label for="description">Description of the role</label>
            <textarea class="form-control" id="description" name="description" rows="3"
                      required maxlength="200"></textarea>
        </div>
        <!-- a script which will be executed after the page is loaded" -->
        <script src="{{ url_for('static', filename='roles/role.js') }}"></script>
        <!-- A button for submitting the data-->
        <div class="col text-center margin-top">
            <a href="#" class="btn btn-primary" role="button" onclick="onSubmitClicked()">Submit</a>
        </div>
    </div>
</main>
{% endblock %}